@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./img/Body2.gif);
  background-size: cover;
  height: 92vh;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7;
  text-align: center;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 100px;
  font-size: 50px;
  color: #FFF2E7;
  
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 150;
  font-size: 20px;
  color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
    background-color: #c6890e;
    width: 30%;
    text-align: center;
    margin-left: 35%;
    height: 65px;
    border: none;
    box-shadow: 4px 5px 4px rgba(192, 184, 199, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    
  }
  
  .conteudo-principal-escrito-botao:hover {
    background-color: rgba(95, 10, 192, 0.53);
  }

.conteudo-principal-imagem {
  height: 440px;
  margin-top: 13%;
  
}

.computer {
    width: 150px;
    float: left;
    margin-right: 20px;
    height: 150px;
    border-radius: 50%;
    margin-left: 320;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
  text-align: center;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
  
}