

/*NAVBAR*/
@font-face {
  font-family: good;
  src: url(Fontes/good_timing/good\ timing\ bd.ttf) format('TrueType'); 
  font-weight: normal;
  font-size: normal;
}



a {
  color: #fff;
  transition: 0.5s;
  
}

.loghome {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 3px 2px 6px black;
}


.logo2 {
  border-radius: 50%;
  width: 15%;
}

.loghome:hover {
  opacity: 0.7;
  background: none;
  text-decoration: none;
  color: #fff;
  padding: 0;
}

span {
  color: #6d1fd4;
  
}

a:hover{
  background-color: #c3a8cfe8;
  color: rgba(17, 17, 17, 0.788);
  border-radius: 5px;
  padding: 2px;
  text-decoration: none;
  
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'good', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(to bottom, #441963, #550d8f);
  height: 8vh;
  padding: 55px;
}


body {
  background: url(Imagens/Body2.gif) repeat center center;
  background-size: cover;
  height: 92vh;
 
}

.nav-lista {
  list-style: none;
  margin: 0;
  display: flex;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;

}

.nav-lista li {
  letter-spacing: 1px;
  margin-left: 32px;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}



@media (max-width: 1080px){
  body {
      overflow-x: hidden;
  }
  .nav-lista {
      position: fixed;
      top: 15vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background-image: linear-gradient(to top, #441963, #550d8f);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      
  }
  .imgsec {
      display: none;
  }
  
  nav {
      margin-top: 0%;
      position: fixed;
      width: 100%
  }
  .nav-lista li {
      margin-left: 0;
      opacity: 0;
      
  }

  .mobile-menu {
      display: block;
  }
  a:hover {
      background: none;
      padding: 0;
      opacity: 0.7;
      border: none;
  }
}

.nav-lista.active {
  transform: translateX(0);

}



@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.mobile-menu.active .linha1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .linha2 {
  opacity: 0;
}

.mobile-menu.active .linha3 {
  transform: rotate(45deg) translate(-5px, -7px);
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-image: url(Body2.gif);
    background-repeat: no-repeat;
    background-size: 100% 200%;
  }
  
  .bg-primary-color {
    background-color:#9f46e0 ;
  }
  .bg-secondary-color {
    background-image: linear-gradient(to bottom, #440a6d, rgb(60, 4, 124));
  
  }

  
  .bg-tertiary-color {
    background-color: #1c283057;
  }
  
  .bg-quaternary-color {
    background-color: #1a262e48;
  }
  
  .bg-transparent {
    background-color: transparent;
    border: none;
  }
  
  .primary-color {
    color: #d7d7d7;
  }
  
  .secondary-color {
    color: #1a262e;
  }
  
  .tertiary-color {
    color: #d6a228;
  }
  
  header {
    width: 100%;
  }
  
  .navbar-brand img {
    width: 40px;
  }
  
  .navbar-brand span {
    font-size: 30px;
    font-weight: 700;
    transition: 0.1s;
  }
  
  .navbar-brand span:hover {
    color: #d6a228;
  }
  
  a {
    text-decoration: none;
    transition: 0.1s;
  }
  
  .search {
    width: 400px;
  }
  
  #sobre-header,
  #mySearch {
    text-transform: uppercase;
    font-weight: 400;
  }
  
  #sobre-header:hover,
  #mySearch:hover {
    color: #888888;
  }
  
  #sobre-header:active,
  #mySearch:active {
    color: #d6a228;
  }
  
  .btn {
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .btn:active {
    background-color: #d6a228;
  }
  
  main {
    padding-top: 90px;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-family: 'Bungee', cursive;
    font-size: 1.4em;
    color: #acacac;
  }
  
  .login-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #23333d; */
    width: 40%;
    height: 55vh;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(99, 99, 98);
    color: #d6dce0;
    text-align: center;
    text-shadow: 5px 4px 13px black;
    font: 12pt arial;
  }
  
  .login-card a {
    color: #1a262e;
  }
  
  .login-card button {
    background-color: #d6a228;
    width: 30%;
    height: 5vh;
    border-radius: 5px;
    color: #1a262e;
    border: none;
    /* box-shadow: rgb(0, 0, 0) 5px 5px 10px; */
  }
  
  .login-card button:hover {
    background-color: #1b2b35;
    transition: 0.4s;
    cursor: pointer;
    color: #d3d3d3;
  }
  
  form {
    width: 100%;
  }
  
  .campos {
    border: none;
    width: 90%;
    height: 4vh;
    background: none;
    border-bottom: 3px solid #1a262e;
    color: #c0c0c0;
  }
  
  .campos::placeholder {
    color: #c2c7cabb;
  }
  
  .campos:focus,
  input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }
  

#textInput {
    height: 80px;
    width: 100%;
    padding-left: 5px;
  }
  
  .rodape {
    background-color: rgb(12, 12, 12);
    padding: 26.5px;
    margin-top: 12%;
    height: 30%;
  }
  
  .rodape li {
    list-style: none;
    margin-left: 5px;
    
    
  }
  
  
  .c1{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: -12px;
    
  }
  
  .rodape  a {
    background: none;
    padding: 2px;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #c0c0c0;
  }
  
  .rodape a:hover{
    opacity: 0.7;
    color: rgb(204, 204, 204);
  }
  
  .c2 {
    margin-top: -19px;
    text-align: center;
    
  }

  .logmiddle {
    margin: -15px;
  }
  
  .c3{
    float: right;
    margin-top: -124px;
  
  }
  
  h3 {
    color: aliceblue;
    font: 14pt arial;
    padding-top: 10px;
  }
  
  h4 {
    color: aliceblue;
    font: 10pt arial;
  }
  
  hr {
    margin-top: 2%;
    background-color: #ffffff;
  }
  
  .logrod > img {
    width: 80px;
  }
  
  .logrod {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /*RODAPE REPONSIVO*/
  
  @media screen and (max-width:950px){
    .logrod{
        display: none;
    }
    hr {
      display: none;
    }
  
    h4 {
        margin-top: 100px;
        margin-left: 250px;
    }
    h3 {
        text-align: right;
    }
    .logmiddle {
        display: none;
        margin-left: 250px;
    }
    .c1 {
        display: flex;
        flex-direction: row;
        margin-left: -5%;
        padding: 5px;
        font-size: 9pt;
    }
    .c3 {
      margin-top: -103px;
    }
    .rodape {
      margin-top: 10%;
      height: -3%;
    }
  }
  
  
  
  
  